# Kickstart file for CentOS 6.8

install
url --url=http://mirror.pregi.net/centos/6.8/os/x86_64
lang en_US.UTF-8
keyboard us
network --onboot yes --device eth0 --bootproto dhcp --ipv6 auto
network --onboot no --device eth1 --bootproto dhcp --noipv6
rootpw  --iscrypted $6$3EnxAYkPw.03AD1R$N07ntejJ7ucfQi/uDpBCr9GgEwbl7FlB5raoJPiKTZFTFdW9ILPYbrTSfw5Fs33agUlPZzHcIfehapULygy9/0
firewall --service=ssh
authconfig --enableshadow --passalgo=sha512
selinux --enforcing
timezone --utc Asia/Manila
bootloader --location=mbr --driveorder=sda --append="crashkernel=auto rhgb quiet"
clearpart --all --drives=sda
part pv.008002 --size=1 --grow --ondisk=sda
volgroup VolGroup --pesize=4096 pv.008002
logvol / --fstype=ext4 --name=lv_root --vgname=VolGroup --grow --size=1024 --maxsize=51200
logvol swap --name=lv_swap --vgname=VolGroup --grow --size=1024 --maxsize=1024

part /boot --fstype=ext4 --size=500
part pv.008002 --grow --size=1


repo --name="CentOS"  --baseurl=http://mirror.pregi.net/centos/6.8/os/x86_64 --cost=100

%packages
@core
%end